.combat-box {
    display: flex;
    justify-content: space-between;
    margin: 50px auto;
}

.cobat-item p {
    color: white;
    text-align: center;
    font-size: 1.3em;
    text-transform: uppercase;
}

.combat-selection-box {
    background-color: white;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 180px;
    height: 180px;
    padding: 2.5em;
    margin: 50px 0px;
    cursor: pointer;
}

.combat-computer-loading {
    background-color: rgba(0, 0, 0, 0.382);
    width: 150px;
    height: 150px;
    border-radius: 100px;
    margin: 70px 0px;
}